.card{
    position: relative;
}

.card img{
    width: calc(5vw + 50px);
    max-width: 120px;
    display: block;
    border: 0.9ex solid #1c355b;
    border-radius: 10px;
    background-color: #e1ded5;
}

.card .front{
    transform: rotateY(90deg);
    transition: all ease-in 0.2s;
    position:absolute;
}

.flipped .front{
    transform: rotateY(0deg);
    transition-delay: 0.2s;
}

.card .back{
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
}

.flipped .back{
    transform: rotateY(90deg);
    transition-delay: 0s;
}

@media(max-width:320px) {
    .card img{
        width: calc(1vw + 50px);
        display: block;
        border: 0.9ex solid #1c355b;
        border-radius: 10px;
        background-color: #e1ded5;
    }
}