nav {
    height: 60px;
    background-color: #e9b38f;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.links-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

nav a {
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #264d6d;
}

nav a:hover {
    background-color: #cc1100;
}

nav svg {
    fill: #264d6d;
}

#sidebar-active {
    display: none;
}

.open-sidebar-button, .close-sidebar-button {
    padding: 0 20px;
    display: none;
}

@media(max-width: 750px) {
    .links-container {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 10;
        width: 300px;
        background-color: #e9b38f;
        box-shadow: -5px 0 5px #cc9f64;
        transition: 1s ease-out;
    }

    nav a {
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }
 
    .open-sidebar-button, .close-sidebar-button {
        padding: 0 20px;
        display: block;
    }
    
    #sidebar-active:checked ~ .links-container {
        display: flex;
    }

    #sidebar-active:checked ~ #overlay {
        background-color: beige;
        height: 100%;
        width: 100%;
        position: fixed;
        opacity: 25%;
        top: 0;
        left: 0;
        z-index: 9;
    }
}